$primary:              #000000 !default;
$secondary:            #ffffff !default;
$tertiary:             #e95420 !default;
$quaternary:           #e95420 !default;
$header_background:    #e95420 !default;
$header_primary:       #ffffff !default;
$highlight:            #e95420 !default;
$danger:               #e95420 !default;
$success:              #38b44a !default;
$love:                 #fa6c8d !default;